body{
	padding: 1%;
}
div.fileUpload {
	padding: 8px 20px;
	border: black solid 1px;
}
input {
	padding: 4px;
	margin: auto 5px;
}
#file{
	width: 250px;
}
#password{
	width: 200px;
}
#state {
	width: 500px;
	float: right;
}
div.left {
	width: 45%;
	height:500px;
	float: left;
}
div.center {
	width: 10%;
	height:600px;
	line-height: 800px;
	float: left;
	display: flex; justify-content: center; align-items: center; 
}
div.right {
	width: 45%;
	height:500px;
	float: right;
}

textarea {
	width: 100%;
	height: 100%;
	overflow: visible;
}

button {
	margin: 10px 0px;
	padding: 8px;
	width: 100px;
}